---
// src/components/BackgroundWrapper.astro
import bgImage from '../assets/hero-bg.png';
---

<div class="relative w-full bg-cover bg-center" style={`background-image: url(${bgImage.src});`}>
  <div class="absolute inset-0 bg-gradient-to-b from-black/5 via-black/20 to-black/60"></div>
  <slot />
</div>
