---
import logo from "../assets/logo.png";
import mobileLogo from "../assets/logo-mobile.png";
import profileImg from "../assets/cassogo-profile.jpg";
import { Icon } from "astro-icon/components";
---

<header class="relative flex items-center justify-between bg-[#141414] p-4">
    <img src={logo.src} alt="Logo" class="logo w-[120px]" />
    <img src={mobileLogo.src} alt="Logo" class="mobile-logo w-8" />
    <!-- Menu Desktop -->
    <nav class="hidden gap-6 text-sm text-xl text-white md:flex lg:flex">
      <a href="#" class="transition hover:text-gray-300">Home</a>
      <a href="#" class="transition hover:text-gray-300">Tv Shows</a>
      <a href="#" class="transition hover:text-gray-300">Movies</a>
      <a href="#" class="transition hover:text-gray-300">My List</a>
    </nav>

  <!-- User / Search -->
  <div class="flex items-center gap-3">
   <Icon name="material-symbols:search-rounded" width="24" height="24"  style="color: #fff" />
    <Icon name="material-symbols:notifications-active" width="24" height="24"  style="color: #fff" />
    <button
      id="user-btn"
      class="flex items-center gap-1 rounded-full px-2 py-1 transition hover:bg-[#222]"
    >
      <span>
        <img src={profileImg.src} alt="" class="w-8">
      </span>
      <Icon
        name="material-symbols:arrow-drop-down-rounded"
        class="h-5 w-5 text-white"
      />
    </button>
  </div>

  <!-- Menu User -->
  <nav
    id="user-menu"
    class="absolute top-[70px] right-4 z-30 hidden w-[180px] flex-col space-y-2 rounded-xl bg-[#1f1f1f]/95 p-4 text-white shadow-xl backdrop-blur-md"
  >
    <a href="#" class="transition hover:text-gray-300">Home</a>
    <a href="#" class="transition hover:text-gray-300">Tv Shows</a>
    <a href="#" class="transition hover:text-gray-300">Movies</a>
    <a href="#" class="transition hover:text-gray-300">My List</a>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const userBtn = document.getElementById("user-btn");
    const userMenu = document.getElementById("user-menu");

    userBtn.addEventListener("click", () => {
      userMenu.classList.toggle("hidden");
    });
  });
</script>
<style>
  @media (max-width: 400px) {
    .logo {
      display: none;
    }
    .mobile-logo {
      display: block;
    }
  }
  @media (min-width: 400px) {
    .mobile-logo {
      display: none;
    }
  }
</style>
