
---
import logo from '../assets/logo.png';
import heroTitle from '../assets/hero-title.png';
import "../styles/global.css";
---
<div id="container" class="bg-[#141414]">
	<header class="flex justify-between p-2">
		<h1>
			<img id="logo" src={logo.src} alt="logo" class="w-[120px] h-[40px] object-contain" />
		</h1>
		<nav class="text-white flex justify-around items-center gap-3">
			<a href="#">Home</a>
			<a href="#">Tv Shows</a>
			<a href="#">Movies</a>
			<a href="#">Games</a>
			<a href="#">News & Popular</a>
			<a href="#">My List</a>
			<a href="#">Browse</a>
		</nav>
	</header>
		<section id="hero" class=`bg-[url(../assets/hero-bg.png)] h-[100%] w-[100dvw] bg-cover bg-right-top`>
			<div>
				<img src={heroTitle.src} alt="">
				<h1 class="text-white">Will que mode, né gassogo porque?</h1>
				<a class="button " href="https://docs.astro.build">
				<button class="bg-[#0b60ab] rounded-xs p-2 text-white">
					Watch now
				</button>
				</a>
			</div>
			<section id="links">
			</section>
		</section>
	</main>

</div>

<style>
@import 'tailwindcss';

	#container {
		font-family: Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

</style>
