---
interface Movie {
  id: string;
  title: string;
  img: ImageMetadata;
  alt: string;
  href?: string;
  rating?: number;
  rank: number;
}

const { title, img, rating, alt, rank } = Astro.props as Movie;
---

<div class="flex w-[160px] flex-none shrink-0 flex-col gap-2 px-2 text-white">
  <div class="relative mt-8 mb-4 h-[220px] w-[160px]">
    <span
      class="pointer-events-none absolute -bottom-4 -left-1 z-30 text-[100px] leading-none font-black text-white/80 drop-shadow-[0_2px_10px_rgba(0,0,0,0.6)] select-none"
    >
      #{rank}
    </span>
    <img src={img.src} alt={alt} class="relative z-20 mb-3 block h-full w-full max-w-none rounded object-cover duration-100 hover:scale-130" loading="lazy" />
  </div>
  <span class="flex justify-between pr-2 text-left text-sm">
    <h2 class="min-w-0 truncate leading-tight font-semibold">{title}</h2>
    <span class="shrink-0 text-right">⭐ {rating?.toFixed?.(1) ?? rating}</span>
  </span>
</div>
